.home--body{
    margin-top: 4rem;
    padding-top: 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home--searchbar{
    width: 80%;
}
.home--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0;
}

.home--grid h1{
    cursor:pointer;
}